<footer class="">
    
        <div class="d-flex  m-0 col-12">
          <div class="bg-light p-3   d-flex align-items-center justify-content-center flex-column">
            <h3>Ouverture</h3>
             <ul>
            {% for horaire in horaires %}
                {% if horaire.active == 1 %}
                
                   <li>
                        <strong> {{horaire.jour }}</strong> : {{horaire.matinDebut | date('H:i')}}
                        à {{horaire.matinFin | date('H:i')}} 
                        - {{horaire.apremDebut | date('H:i')}} 
                        à {{horaire.apremFin | date('H:i')}} 
                   </li>
                    
                {% else  %} 
                    <li class="text-danger">
                        <strong> {{horaire.jour }}</strong> : fermé 
                    </li> 
                {% endif %}
           
            {% endfor %}
            </ul>
            </div>
            <div class="bg-dark text-light text-center p-3 d-flex align-items-center justify-content-center flex-column">
           
                {% for inforesto in infosResto %}
                {% if inforesto.active == 1 %}
                    <h3>{{inforesto.nom}}</h3>
                    <p> 
                        {{inforesto.adresse}} 
                        <br> - 
                        <br> ({{inforesto.cp}}) {{inforesto.ville}}  - {{inforesto.pays}} 
                        <br>tel : {{inforesto.telephone}}
                        <br>mail : {{inforesto.email}}
                    </p>  
                {% endif %}
                {% endfor %}
            </div>  
        </div>
      <p class="bg-dark text-light text-center m-0">&copy; By Fontaine Elodie</p>
</footer>