{% extends 'base.html.twig' %}

{% block title %}le quai antique / reservation {% endblock %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/reservation.css') }}" type="text/css" rel="stylesheet">
    {% endblock %}

{% block body %}
    <main>
        {% include "base/header.html.twig" %} 
            <div class=" col-12  bg-light  p-3 m-auto mb-5 mt-5 container-form">
                {% if message is not empty %}
                    {% if message == messageSuccess %}
                        <p class="fs-4 bg-success text-light text-center p-2">
                            {{message}} </br> 
                            <a class="btn bg-light p-2 " href="{{path('app_home')}}">retourner à l'acceuil</a>
                        </p>
                        {% else %}
                        <p class="fs-4 bg-warning p-2 text-center">{{message}}</p>
                    {% endif %}
                {% else %}
                    <p class="fs-4 p-2 text-center">Pour reserver veuillez remplir le formulaire ci-dessous</p>
                {% endif %}
 
            {{ form_start(form) }}
            {{ form_row(form.nameClient) }}
            <div class="d-flex justify-content-evenly flex-wrap flex-column">
                <div class=" d-flex justify-content-evenly">
                    {{ form_row(form.nbPersons) }}
                    {{ form_row(form.nbChildren) }}
                </div>
                <div class=" d-flex justify-content-evenly"> 
                    {{ form_row(form.date) }}
                    {{ form_row(form.heure) }}
                </div>
            </div>
            {{ form_row(form.comentaire) }}
            {{ form_row(form.allergie) }}
            
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
