{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique / contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/contact.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

<main>
    {% include "base/header.html.twig" %}
    <div class="bg-success text-center text-light mt-2">
        {{message}}
    </div>
    <div class="container-fluid col-8 m-auto bg-light mt-3 p-2 fs-3">
        {{ form_start(form) }}
        {{ form_rest(form) }}
    </div>
  
</main>
{% endblock %}
