{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique / contact{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/contact.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}

<main>
    {% include "base/header.html.twig" %}
    <div class="bg-success text-center text-light mt-2">
        {{message}}
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 mb-5 flex-wrap container-form">
        <div class=" col-12 ">
            {{ form_start(form) }}
                <h3 class="text-center m-">Contacter Nous</h3>
            {{ form_rest(form) }}
        </div>
        <div class=" m-4 ">
           
            {% for inforesto in infosResto %}
                {% if inforesto.active == true %}
                    <a href="{{inforesto.lienMaps}}" target="_blank">
                        <img src="images/maps/{{inforesto.carteUrl}}" alt="{{inforesto.adresse}}" style="width:100%;"/>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
